XamarinTwilioSOS/XamarinTwilioSOS/Secrets.cs

XamarinTwilioSOS/XamarinTwilioSOS/bin
XamarinTwilioSOS/XamarinTwilioSOS/obj

XamarinTwilioSOS/XamarinTwilioSOS.Android/bin
XamarinTwilioSOS/XamarinTwilioSOS.Android/obj

XamarinTwilioSOS/XamarinTwilioSOS.iOS/bin
XamarinTwilioSOS/XamarinTwilioSOS.iOS/obj